.destinations {
  background-color: #edeff6;
  z-index: 0;
  overflow: hidden;

  @media (max-width: @max-mobile) {
    border-radius: 0px 0px 30px 30px;
  }

  @media (min-width: @min-tablet) {
    background-image: url("../../img/flags-back.png"), url("../../img/destinations-rectangle.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: auto, auto;
    background-position: 90% 123px, 40px 458px;
    border-radius: 0px 0px 60px 60px;
  }

  @media (min-width: @min-desktop) {

  }
}

.destinations__wrapper {
  @media (max-width: @max-mobile) {
    width: @mobile-wrapper;
    margin: 0 auto;
  }

  @media (min-width: @min-tablet) {
    width: @tablet-container;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @min-desktop) {

  }

}

.destinations__h2 {
  @media (max-width: @max-mobile) {
    padding: 101px 0 0 0;
  }

  @media (min-width: @min-tablet) {

  }

  @media (min-width: @min-desktop) {

  }
}

.destinations__text {
  @media (max-width: @max-mobile) {
    .font (16px;22px;300;#444444);
    margin: 19px 0 60px 0;
  }

  @media (min-width: @min-tablet) {
    .font (28px;33px;300;#444444);
    margin: 57px 0 104px 0;
    width: 378px;
  }

  @media (min-width: @min-desktop) {

  }
}

.destinations__list {
  .offbulit;

  @media (max-width: @max-mobile) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @min-tablet) {
    align-self: center;
    margin-bottom: 23px;
  }

  @media (min-width: @min-desktop) {

  }
}

.destinations__button {
  @media (max-width: @max-mobile) {
    margin: 17px 0 34px 0;
  }

  @media (min-width: @min-tablet) {
    margin: 23px 0 80px 0;
  }

  @media (min-width: @min-desktop) {

  }
}
