.destinations {
  @media (max-width: @max-mobile) {
    background-color: #edeff6;
    border-radius: 0px 0px 30px 30px;
    z-index: 0;
    overflow: hidden;
  }

  @media (min-width: @min-tablet) {

  }

  @media (min-width: @min-desktop) {

  }
}

.destinations__wrapper {
  @media (max-width: @max-mobile) {
    width: @mobile-wrapper;
    margin: 0 auto;
  }

  @media (min-width: @min-tablet) {

  }

  @media (min-width: @min-desktop) {

  }

}

.destinations__h2 {
  @media (max-width: @max-mobile) {
    padding: 101px 0 0 0;
  }

  @media (min-width: @min-tablet) {

  }

  @media (min-width: @min-desktop) {

  }
}

.destinations__text {
  @media (max-width: @max-mobile) {
    .font (16px;22px;300;#444444);
    margin: 19px 0 60px 0;
  }

  @media (min-width: @min-tablet) {

  }

  @media (min-width: @min-desktop) {

  }
}

.destinations__list {
  .offbulit;

  @media (max-width: @max-mobile) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @min-tablet) {

  }

  @media (min-width: @min-desktop) {

  }
}

.destinations__button {
  @media (max-width: @max-mobile) {
    margin: 17px 0 34px 0;
  }

  @media (min-width: @min-tablet) {

  }

  @media (min-width: @min-desktop) {

  }
}
