.header-features__list {

  display: flex;
  counter-reset: myCounter;
  position: relative;
  .offbulit;

  @media (max-width: @max-mobile) {
    width: @mobile-wrapper;
    margin: 0 auto 72px auto;
    flex-direction: column;
  }

  @media (min-width: @min-tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    width: 689px;
    margin: 0 auto;
  }

  @media (min-width: @min-desktop) {
    width: auto;
  }
}

.header-features__item {

  @media (max-width: @max-mobile) {
    span {
      display: block;
      width: 150px;
      margin: 22px 0 0 24px;
    }

    &:nth-child(1) {
      background-color: #ff8d30;
      min-height: 100px;
    }

    &:nth-child(2) {
      background-color: #ffa530;
      min-height: 100px;
      margin-top: -20px;
    }

    &:nth-child(3) {
      background-color: #ffbd30;
      min-height: 100px;
      margin-top: -20px;
    }

    &:nth-child(4) {
      min-height: 80px;
      margin-top: -20px;
    }

    &::before {
      counter-increment: myCounter;
      position: absolute;
      content: counter(myCounter);
      margin: 22px 12px 0 0;
      right: 0;
    }

    min-height: 80px;
    border-radius: 10px;
    .font (18px;18px;bold);
    background-color: #ffd74b;

    &::before {
     .font (18px;18px;bold;#ffffff);
    }
  }

  @media (min-width: @min-tablet) {
      span {
        display: block;
        width: 200px;
        margin: 30px 0 0 32px;
      }

      &:nth-child(1) {
        background-color: #ff8d30;
        min-height: 160px;
        width: 365px;
        &::before {
          bottom: 41px
        }
      }

      &:nth-child(2) {
        background-color: #ffa530;
        min-height: 160px;
        margin-left: -20px;
        &::before {
          bottom: 41px
        }
      }

      &:nth-child(3) {
        background-color: #ffbd30;
        margin-top: -20px;
        width: 365px;
      }

      &:nth-child(4) {
        margin-left: -20px;
        margin-top: -20px;
      }

      &::before {
        counter-increment: myCounter;
        position: absolute;
        content: counter(myCounter);
        margin: 22px 12px 0 0;
        left: 32px;
        bottom: 21px;
      }

      min-height: 140px;
      width: 344px;
      border-radius: 10px;
      .font (24px;24px;bold;#161C35;);
      background-color: #ffd74b;
      position: relative;

      &::before {
       .font (24px;24px;bold;#ffffff);
      }
  }

  @media (min-width: @min-desktop) {
    span {
      display: block;
      width: 200px;
      margin: 30px 0 0 32px;
    }

    &:nth-child(1) {
      background-color: #ff8d30;
      min-height: 107px;
      width: 375px;
      &::before {
        bottom: 54.5px
      }
    }

    &:nth-child(2) {
      background-color: #ffa530;
      min-height: 107px;
      margin-left: -40px;

      &::before {
        bottom: 54.5px;
        left: 300px;
      }
    }

    &:nth-child(3) {
      background-color: #ffbd30;
      margin-left: -40px;
      margin-top: 0px;
      width: 375px;

      &::before {
        left: 300px;
      }
    }

    &:nth-child(4) {
      margin-left: -40px;
      margin-top: 0px;
      width: 315px;

      &::before {
        left: 269px;
      }
    }

    &::before {
      counter-increment: myCounter;
      position: absolute;
      content: counter(myCounter);
      margin: 22px 12px 0 0;
      left: 268px;
      bottom: 54.5px;
    }

    min-height: 107px;
    width: 375px;
    border-radius: 10px;
    .font (24px;24px;bold;#161C35;);
    background-color: #ffd74b;
    position: relative;

    &::before {
     .font (24px;24px;bold;#ffffff);
    }
  }
}
