.header-about {
  z-index: 10;
}

.header-about__wrapper {
  @media (max-width: @max-mobile) {
    width: @mobile-wrapper;
    margin: 0 auto;
    background: url("../../img/about-mobile.png") no-repeat 50% 99%;
    min-height: 383px;
  }

  @media (min-width: @min-tablet) {

  }

  @media (min-width: @min-desktop) {

  }
}

.header-about__text {
  @media (max-width: @max-mobile) {
    .font (16px;22px;normal;#ffffff);
  }

  @media (min-width: @min-tablet) {

  }

  @media (min-width: @min-desktop) {

  }
}

.header-about__other-text {
  @media (max-width: @max-mobile) {
    .font (16px;22px;bold;#ffffff);
  }

  @media (min-width: @min-tablet) {

  }

  @media (min-width: @min-desktop) {

  }
}

