.main-icons {
  @media (max-width: @max-mobile) {
    .font (16px;18px;bold);
    margin-bottom: 41px;
  }

  @media (min-width: @min-tablet) {

  }

  @media (min-width: @min-desktop) {

  }
}

.main-icons__item {
  @media (max-width: @max-mobile) {
    display: flex;
    align-items: center;

    span {
      text-transform: uppercase;
    }
  }

  @media (min-width: @min-tablet) {

  }

  @media (min-width: @min-desktop) {

  }
}

.main-icons__icon {
  border-radius: 50%;

  @media (max-width: @max-mobile) {
    width: 45px;
    height: 45px;
    margin-right: 16px;

    &--phone {
      background: #121936 url("../../img/icons/phone.svg") no-repeat 50% 50%;
    }
    &--mail {
      background: #121936 url("../../img/icons/mail.svg") no-repeat 50% 50%;
    }
  }

  @media (min-width: @min-tablet) {

  }

  @media (min-width: @min-desktop) {

  }
}

.main-icons__button {
  @media (max-width: @max-mobile) {
    width: 100%;
  }

  @media (min-width: @min-tablet) {

  }

  @media (min-width: @min-desktop) {

  }
}

