.main-nav {
  @media (max-width: @max-mobile) {
    width: 100%;
  }

  @media (min-width: @min-tablet) {

  }

  @media (min-width: @min-desktop) {

  }
}

.main-nav--white {
  @media (max-width: @max-mobile) {
    background-color: #ffffff;

    svg > path {
      fill:#192144;
    }

    .main-nav__toggle {
      &::after,&::before {
        background-color: #192144;
      }
    }
  }

  @media (min-width: @min-tablet) {
    background-color: #ffffff;

    svg > path {
      fill:#192144;
    }

    .main-nav__toggle {
      &::after,&::before {
        background-color: #192144;
      }
    }
  }

  @media (min-width: @min-desktop) {
    background-color: inherit;
      .main-nav__toggle {
        display: none;
      }
  }
}

.main-nav__list {
  .offbulit;
  flex-direction: column;

  @media (max-width: @max-mobile) {
    background-color: #ffffff;
    .font (30px;35px;normal);
    margin-top: 45px;
    align-items: center;
  }

  @media (min-width: @min-tablet) {
    background-color: #ffffff;
    .font (30px;35px;normal);
    margin-top: 45px;
    align-items: center;
  }

  @media (min-width: @min-desktop) {
    background-color: inherit;
    margin: 0;
    .font (20px;20px;500;#ffffff);
    text-transform: uppercase;
  }
}

.main-nav__list--closed {
  @media (max-width: @max-mobile) {
    display: none;
  }

  @media (min-width: @min-tablet) {
    display: none;
  }

  @media (min-width: @min-desktop) {
    display: grid;
    grid-template-columns: 1fr max-content 0px;
  }
}

.main-nav__item-list {
  .offbulit
}

.main-nav__logo {
  @media (max-width: @max-mobile) {

  }

  @media (min-width: @min-tablet) {
    background: url("../../img/logo-background.svg") no-repeat 0 50%;
    width: 165px;
    height: 52px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  @media (min-width: @min-desktop) {
    margin-right: 145px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      right: -115px;
      top: 26px;
      width: 60px;
      height: 2px;
      background-color: #ffffff;
    }
  }

}

.main-nav__toggle {
  @media (max-width: @max-mobile) {
    width: 25px;
    height: 11px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &::before,&::after {
      content: "";
      width: 25px;
      height: 3px;
      background-color: #ffffff;
      border-radius: 1.5px;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }

  @media (min-width: @min-tablet) {
    width: 25px;
    height: 11px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &::before,&::after {
      content: "";
      width: 25px;
      height: 3px;
      background-color: #ffffff;
      border-radius: 1.5px;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }

  @media (min-width: @min-desktop) {
    display: none;
  }

}

.main-nav__toggle--nojs {
  display: none;
}

.main-nav__header {
  @media (max-width: @max-mobile) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 34px;
    width: @mobile-wrapper;
    margin: 19px auto;
  }

  @media (min-width: @min-tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 34px;
    width: 48%;
    margin: 20px 0 0 0;
  }

  @media (min-width: @min-desktop) {
    width: 100%;
    margin: 0;
    align-self: center;
  }
}

.main-nav__item-list {
  @media (max-width: @max-mobile) {

  }

  @media (min-width: @min-tablet) {

  }

  @media (min-width: @min-desktop) {
    display: flex;
  }
}

.main-nav__icons {
  @media (max-width: @max-mobile) {

  }

  @media (min-width: @min-tablet) {

  }

  @media (min-width: @min-desktop) {

  }

}

.main-nav__social {
  @media (max-width: @max-mobile) {
    display: flex;
  }

  @media (min-width: @min-tablet) {
    display: flex;
  }

  @media (min-width: @min-desktop) {
    display: none;
  }

}
