.other-nav__list {
  .offbulit
}

.other-nav__item-list {
  .offbulit
}

.other-nav__links {
  @media (max-width: @max-mobile) {
    display: none;
  }

  @media (min-width: @min-tablet) {

  }

  @media (min-width: @min-desktop) {

  }
}

.other-nav__icons {
  @media (max-width: @max-mobile) {
    width: @mobile-wrapper;
    margin: 0 auto;
    margin-top: -20px;
  }

  @media (min-width: @min-tablet) {

  }

  @media (min-width: @min-desktop) {

  }
}


