.page-header__wrapper {
  display: grid;

  @media (max-width: @max-mobile) {

  }

  @media (min-width: @min-tablet) {
    grid-template-areas: ". other-nav" "title title" "features features" "about about" ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
    width: @tablet-wrapper;
    margin: 0 auto;
  }

  @media (min-width: @min-desktop) {
    grid-template-areas: "main-nav main-nav" "title title" "other-nav other-nav" "about about" ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
    position: relative;
    width: auto;
    margin: 0 auto;
  }
}

.page-header {
  @media (max-width: @max-mobile) {
    background: linear-gradient(180deg, #161c35 0%, #161c35 80%, #192144 80%, #192144 100%);
    border-radius: 0px 0px 30px 30px;
    z-index: 10;
  }

  @media (min-width: @min-tablet) {
    background-color: #182044;
    background-image: url("../../img/traveller-illustration-tablet.svg"), url("../../img/globe-back-tablet.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: 372px, 100%;
    background-position: 70% 359px, 60% 335px;
    border-radius: 0px 0px 60px 60px;
    z-index: 10;
  }

  @media (min-width: @min-desktop) {
    width: @desktop-container;
    margin: 0 auto;
    background-color: #182044;
    background-image: url("../../img/traveller-illustration-desktop.svg"), url("../../img/globe-back-desktop.png");
    background-repeat: no-repeat, no-repeat;
    background-size: 431px, 100%;
    background-position: 61% 110px, 60% 0;
    border-radius: 0px 0px 60px 60px;
    z-index: 10;
  }
}

.page-header__main-nav {
  @media (max-width: @max-mobile) {
    position: absolute;
  }

  @media (min-width: @min-tablet) {
    position: absolute;
    grid-area: main-nav;
    width: 100%;
  }

  @media (min-width: @min-desktop) {
    position: static;
    width: auto;
    grid-area: main-nav;
    display: grid;
    grid-template-columns: max-content 1fr;
    width: @desktop-wrapper;
    margin: 29px auto 0 auto;
  }
}

.page-header__title-block {
  @media (max-width: @max-mobile) {

  }

  @media (min-width: @min-tablet) {
    grid-area: title;
  }

  @media (min-width: @min-desktop) {

  }
}

.page-header__other-nav {
  @media (max-width: @max-mobile) {

  }

  @media (min-width: @min-tablet) {
    grid-area: other-nav;
    justify-self: end;
  }

  @media (min-width: @min-desktop) {
    justify-self: stretch;
    display: grid;
    grid-template-columns: max-content 1fr;
    background-color: #ffffff;
    padding: 20px 60px;
  }
}

.page-header__feedback {
  @media (max-width: @max-mobile) {

  }

  @media (min-width: @min-tablet) {
    position: absolute;
    margin: 458px 0 25px 0;
  }

  @media (min-width: @min-desktop) {
    right: 0;
    margin: 221px 83px 0 0;
  }
}

.page-header__features {
  @media (max-width: @max-mobile) {

  }

  @media (min-width: @min-tablet) {
    grid-area: features;
    margin-top: -460px;
  }

  @media (min-width: @min-desktop) {
    margin: 0;
    position: absolute;
    top: 500px;
    width: @desktop-wrapper;
    transform: translateX(-50%);
    left: 50%;
    right: 50%;
  }
}

.page-header__about {
  @media (max-width: @max-mobile) {

  }

  @media (min-width: @min-tablet) {
    grid-area: about;
  }

  @media (min-width: @min-desktop) {

  }
}
