.page-header__wrapper {
  @media (max-width: @max-mobile) {
    display: grid;
  }

  @media (min-width: @min-tablet) {

  }

  @media (min-width: @min-desktop) {

  }
}

.page-header {
  @media (max-width: @max-mobile) {
    background: linear-gradient(180deg, #161c35 0%, #161c35 80%, #192144 80%, #192144 100%);
    border-radius: 0px 0px 30px 30px;
    z-index: 10;
  }

  @media (min-width: @min-tablet) {

  }

  @media (min-width: @min-desktop) {

  }
}

.page-header__main-nav {
  @media (max-width: @max-mobile) {
    position: absolute;
  }

  @media (min-width: @min-tablet) {

  }

  @media (min-width: @min-desktop) {

  }
}
