.rates {


  @media (max-width: @max-mobile) {
    background-color: #e6e8f1;
    .font (16px;16px;300;#444444);
    border-radius: 0px 0px 30px 30px;
    padding-top: 80px;
  }

  @media (min-width: @min-tablet) {
    .font (28px;28px;300;#444444);
    border-radius: 0px 0px 60px 60px;
    background: #edeff6 url("../../img/rates-back.svg") no-repeat 90% 45px;
    background-size:  198px 100%;
  }

  @media (min-width: @min-desktop) {
    background: #edeff6 url("../../img/rates-back.svg") no-repeat 82% 250px;
    background-size:  436px 300px;
  }
}

.rates__wrapper {
  display: grid;

  @media (max-width: @max-mobile) {
    width: @mobile-width;
    margin: 0 auto;
    grid-template-areas: "title img" "content content" "link link";
  }

  @media (min-width: @min-tablet) {
    width: @tablet-wrapper;
    margin: 0 auto;
    grid-template-areas: "title title" "content content" "link img";
  }

  @media (min-width: @min-desktop) {
    width: @desktop-wrapper;
    padding: 0 130px;
    grid-template-areas: "title title title"  "content content img" "link . .";
    grid-template-columns: 718px 300px max-content;
  }

}

.rates__title {
  grid-area: title;

  @media (max-width: @max-mobile) {
    grid-area: title;
    width: 100px;
    align-self: center;
    justify-self: end;
    margin: 0 15px 0 0;

  }

  @media (min-width: @min-tablet) {
    margin: 0 0 73px 0;
    text-align: center;
  }

  @media (min-width: @min-desktop) {

  }

}

.rates__img-container {
  grid-area: img;

  @media (max-width: @max-mobile) {
    width: 100px;
    height: 100px;
  }

  @media (min-width: @min-tablet) {
    width: 130px;
    align-self: center;
    justify-self: center;
    text-align: center;
  }

  @media (min-width: @min-desktop) {

  }

}

.rates__list {
  counter-reset: myCounter;
  .offbulit;
  grid-area: content;

  @media (max-width: @max-mobile) {
    margin: 31px auto auto auto;
  }

  @media (min-width: @min-tablet) {

  }

  @media (min-width: @min-desktop) {

  }
}

.rates__item {
  display: grid;

  @media (max-width: @max-mobile) {
    grid-template-areas: "services counter " "price counter";
    grid-template-columns: 1fr min-content;
    margin-left: 11px;

    &:nth-child(1) .rates__item__services{
      border-top: 1px solid #e1e3e9;
    }
  }

  @media (min-width: @min-tablet) {
    grid-template-areas: "counter services price";
    grid-template-columns: min-content 1fr 230px;
    min-height: 69px;
  }

  @media (min-width: @min-desktop) {

  }

  &::before {
    grid-area: counter;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    counter-increment: myCounter;
    content: counter(myCounter);
    border-radius: 50%;
    color: #ffffff;
    background-color:  #ff8d30;

    @media (max-width: @max-mobile) {
      width: 34px;
      height: 34px;
    }

    @media (min-width: @min-tablet) {
      width: 68px;
      height: 68px;
    }

    @media (min-width: @min-desktop) {

    }
  }

  &:nth-child(2) {
    &::before {
      background-color:#ffbd30;
    }
  }

  &:nth-child(3) {
    &::before {
      background-color:#ffd74b;
    }
  }
}

.rates__item-services {
  grid-area: services;

  @media (max-width: @max-mobile) {
    padding: 13px 0 6px 0;
  }

  @media (min-width: @min-tablet) {
    padding: 20px 0 22px 18px;
    border-bottom: 1px solid #e1e3e9;
  }

  @media (min-width: @min-desktop) {

  }
}

.rates__item-price {
  grid-area: price;

  @media (max-width: @max-mobile) {
    padding: 0 0 18px 0;
    border-bottom: 1px solid #e1e3e9;
  }

  @media (min-width: @min-tablet) {
    justify-self: center;
    align-self: center;
  }

  @media (min-width: @min-desktop) {

  }
}

.rates__link {
  grid-area: link;

  @media (max-width: @max-mobile) {
    font-weight: bold;
    color: #132576;
    text-decoration: none;
    justify-self: center;
    margin: 31px 0 8px 11px;
  }

  @media (min-width: @min-tablet) {
    .font (20px;20px;bold;#132576;);
    align-self: center;
    margin-left: 90px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 68px;
      height: 68px;
      border-radius: 50%;
      background: #e2e5f2 url("../../img/icons/icon_businessman.svg") no-repeat 50% 50%;
      left: -90px;
      top: -25px;
    }
  }

  @media (min-width: @min-desktop) {
    margin-top: 69px;
  }
}
