.subscribe-email__form {
  display: flex;
  justify-content: center;
  width: 100%;

  @media (min-width: @min-desktop) {

  }
}

.subscribe-email__field {
  @media (max-width: @max-mobile) {
    border-radius: 9px;
    height: 62px;
    border: none;
    padding: 0;
    width: 100%;

    &::placeholder {
      .font (18px;18px;bold;#444444);
    }
  }

  @media (min-width: @min-tablet) {
    border-radius: 20px;
    height: 80px;
    border: none;
    padding: 0;
    width: 100%;

    &::placeholder {
      .font (24px;24px;bold;#444444);
      padding-left: 36px;
    }
  }

  @media (min-width: @min-desktop) {

  }
}

.subscribe-email__button {
  @media (max-width: @max-mobile) {
    background: #FFD74B;
    border-radius: 20px;
    width: 60px;
    height: 62px;
    border: none;
    margin-left: -30px;

    span {
      display: none;
    }
  }

  @media (min-width: @min-tablet) {
    background: #FFD74B;
    border-radius: 0 20px 20px 0;
    width: 80px;
    height: 80px;
    border: none;
    margin-left: -40px;

    span {
      display: none;
    }
  }

  @media (min-width: @min-desktop) {
    span {
      display: block;
      margin-left: 36px;
    }

    svg {
      margin-right: 34px;
    }
      width: 330px;
      height: 80px;
      margin-left: -330px;
      display: flex;
      align-items: center;
      .font (24px;24px;bold;#444444);
      justify-content: space-between;
  }

}
