.title-block__wrapper {
  @media (max-width: @max-mobile) {
    min-height: 473px;
    background-image: url("../../img/traveller-illustration-mobile.svg"), url("../../img/globe-back-mobile.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: auto, 100%;
    background-position: 70% 100%, 50% 50%;
  }

  @media (min-width: @min-tablet) {
    min-height: 1200px;
  }

  @media (min-width: @min-desktop) {
    min-height: 650px;
  }
}

.title-block__title {
  text-align: center;
  margin:0;

  @media (max-width: @max-mobile) {
    .font (36px;40px;bold;#ffffff);

    padding-top: 92px;
  }

  @media (min-width: @min-tablet) {
    .font (60px;70px;bold;#ffffff);
    padding-top: 62px;
  }

  @media (min-width: @min-desktop) {
    .font (60px;70px;bold;#ffffff);
    padding: 110px 0 0 127px;
    text-align: left;
  }
}
