.travelers-card {
    display: flex;
    flex-direction: column;
    width: 270px;
  }

.travelers-card__img-wrapper {
    min-height: 255px;
    width: 100%;
    position: relative;
  }


.travelers-card__img {
    width: 100%;
    height: auto;
    display: block;
  }

.travelers-card__flags {
    position: absolute;
    bottom: -11px;
    left: 50%;
    transform: translate(-50%, 0);
    min-width: 145px;
    display: flex;
    justify-content: space-between;
  }

.travelers_card__level {
  position: absolute;
  top: 17px;
  left: 17px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
 background: rgba(0, 0, 0, 0.6);
  display: grid;
  grid-template-areas: "level" "label";

  svg {
    position: absolute;
  }
}

.travelers_card__level-numbers {
  grid-area: level;
  .font (24px;24px;bold;#ffffff);
  margin: 10px 0 0 16px;
  }

.travelers_card__level-label {
  grid-area: label;
  .font (14px;14px;bold;#ffffff);
  margin: 0 0 8px 15px;
  position: relative;

  &::before {
    position: absolute;
    top: -3px;
    content: "";
    width: 30px;
    height: 1px;
    opacity: 0.3;
    background: #ffffff;
    }
}

.travelers-card__text-wrapper {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    width: 100%;
    height: 158px;
    border-radius: 0px 0px 9px 9px;
}

.travelers-card__title-wrapper {
  margin: 27px 0 7.5px 0;
  position: relative;
  width: max-content;
  min-height: 21px;
  display: flex;
  align-items: center;
  align-self: center;
}


.travelers-card__status {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 10px;
}

.travelers-card__status--online {
   background: #81e31e;
}

.travelers-card__status--offline {
  background: #f97676;;
}

.travelers-card__text-title {
  .font (21px;22px;bold;#1d2e5b;);
  margin: 0;
}

.travelers-card__text-tags {
  .font (16px;18px;normal;#444444;);
  text-align: center;
  width: 223px;
  align-self: center;
}

.travelers-card__text-icons {
  display: flex;
  justify-content: center;
  svg {
    margin: 0 7.5px 0 7.5px;
  }
}
