
.travelers {
  @media (max-width: @max-mobile) {
    background-color: #192144;
    background-image: url("../../img/rogovaya-back-desktop.png"), url("../../img/back.svg"), url("../../img/smolov-back-desktop.png");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 0 431px, 0 68px, 85% 68px;
    border-radius: 0px 0px 30px 30px;
  }

  @media (min-width: @min-tablet) {

  }

  @media (min-width: @min-desktop) {

  }
}

.travelers__wrapper {
  @media (max-width: @max-mobile) {
    padding-top: 101px;
    width: @mobile-wrapper;
    margin: 0 auto;
  }

  @media (min-width: @min-tablet) {

  }

  @media (min-width: @min-desktop) {

  }
}

.travelers__title {
  @media (max-width: @max-mobile) {

  }

  @media (min-width: @min-tablet) {

  }

  @media (min-width: @min-desktop) {

  }
}

.travelers__text {
  @media (max-width: @max-mobile) {
    .font (16px;22px;300;#ffffff);
    margin: 19px 0 13px 0;
  }

  @media (min-width: @min-tablet) {

  }

  @media (min-width: @min-desktop) {

  }
}

.travelers__other-text {
  @media (max-width: @max-mobile) {
    .font (16px;22px;bold;#ffffff);
    margin: 12px 0 54px 0;
  }

  @media (min-width: @min-tablet) {

  }

  @media (min-width: @min-desktop) {

  }
}

.travelers__list {
  .offbulit;
}

.travelers__item {
  @media (max-width: @max-mobile) {
    margin-bottom: 10px;
  }

  @media (min-width: @min-tablet) {

  }

  @media (min-width: @min-desktop) {

  }
}

.travelers__button {
  @media (max-width: @max-mobile) {
    margin: 10px 0 31px 0;
  }

  @media (min-width: @min-tablet) {

  }

  @media (min-width: @min-desktop) {

  }
}
